.footer__input {
  width: 224px;
  height: 44px;  
  box-sizing: border-box;
  border: none;
  padding: 0 0 0 10px;
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  letter-spacing: 0.02em;

  
  
}