.header__logo {
    min-width: 128px;
    height: 45px;
    background-image: url(../../../image/logo1.jpg);
    background-size: cover;
    margin: 19px 25px 19px 0;
}

@media (max-width : 1240px) {
    .header__logo {
        min-width: 67px;
        height: 45px;
        margin: 14px 21px 15px 13px;
    } 
  }