@import url(./__wrap/banner__wrap.css);
@import url(./__line/banner__line.css);
@import url(./__title/banner__title.css);
@import url(./__subtitle/banner__subtitle.css);
@import url(./__list/banner__list.css);
@import url(./__item/banner__item.css);
@import url(./__button/banner__button.css);
@import url(./__text/banner__text.css);





.banner {
    max-width: 100%;
    height: 620px;
    background-image: url(../../image/banner.jpg);
    background-size: cover;
}

@media (max-width : 1240px) {
    .banner {
      max-width: 380px;
      height: 460px;
      margin: 0 auto;
    } 
  }