.page {
    max-width: 1920px;
    background-color: #fff;
    margin: auto;
    font-family: 'TT Norms', sans-serif;
    text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #000000;
  
    
}

