.footer__copyright {
    text-align: center;
    font-size: 13px;
    line-height: 2.1;
    font-weight: normal;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.45);
    margin-top: 10px;


}