@import url(./_color/line-hr_color.css);
.line-hr {
    max-width: 1174px;
    border-bottom: 1px solid #DBDBDB;
}


@media (max-width : 1240px) {
    .line-hr {
        max-width: 380px;
        
    } 
  }