.advantages__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 0 0 0;
    justify-content: space-between;
}

@media (max-width : 1240px) {
    .advantages__list {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 20px 0 20px;
    } 
  }