.consultation__title {
    max-width: 709px;
    font-size: 34px;
    line-height: 1.3;
    color: #ffffff;
    font-weight: normal;
    margin: 0 0 40px 0;
}

@media (max-width : 1240px) {
    .consultation__title {
      max-width: 380px;
      text-align: center;
      font-size: 28px;
      line-height: 1.35;
      margin: 0 0 31px 0;
    } 
  }