.bureau__title {
    margin: 52px 0 0 0;
    font-size: 34px;
}

@media (max-width : 1240px) {
    .bureau__title {
        max-width: 270px;
        margin: auto;
        text-align: center;
        font-size: 30px;
        line-height: 1.3;
        letter-spacing: 0.02em;
        
    } 
  }