

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms Thin Italic'), local('TTNorms-ThinItalic'),
        
        url('TTNorms-ThinItalic.woff2') format('woff2'),
        url('TTNorms-ThinItalic.woff') format('woff');
        
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms Thin'), local('TTNorms-Thin'),
        
        url('TTNorms-Thin.woff2') format('woff2'),
        url('TTNorms-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms Light Italic'), local('TTNorms-LightItalic'),
        
        url('TTNorms-LightItalic.woff2') format('woff2'),
        url('TTNorms-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms ExtraBold Italic'), local('TTNorms-ExtraBoldItalic'),
        
        url('TTNorms-ExtraBoldItalic.woff2') format('woff2'),
        url('TTNorms-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms Italic'), local('TTNorms-Italic'),
        
        url('TTNorms-Italic.woff2') format('woff2'),
        url('TTNorms-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
   
    src: local('TT Norms ExtraLight'), local('TTNorms-ExtraLight'),
        
        url('TTNorms-ExtraLight.woff2') format('woff2'),
        url('TTNorms-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms Heavy Italic'), local('TTNorms-HeavyItalic'),
        
        url('TTNorms-HeavyItalic.woff2') format('woff2'),
        url('TTNorms-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms Medium Italic'), local('TTNorms-MediumItalic'),
        
        url('TTNorms-MediumItalic.woff2') format('woff2'),
        url('TTNorms-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms Bold Italic'), local('TTNorms-BoldItalic'),
        
        url('TTNorms-BoldItalic.woff2') format('woff2'),
        url('TTNorms-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms Heavy'), local('TTNorms-Heavy'),
        
        url('TTNorms-Heavy.woff2') format('woff2'),
        url('TTNorms-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms Light'), local('TTNorms-Light'),
        
        url('TTNorms-Light.woff2') format('woff2'),
        url('TTNorms-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms Medium'), local('TTNorms-Medium'),
        
        url('TTNorms-Medium.woff2') format('woff2'),
        url('TTNorms-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms ExtraBold'), local('TTNorms-ExtraBold'),
        
        url('TTNorms-ExtraBold.woff2') format('woff2'),
        url('TTNorms-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms ExtraLight Italic'), local('TTNorms-ExtraLightItalic'),
        
        url('TTNorms-ExtraLightItalic.woff2') format('woff2'),
        url('TTNorms-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms Regular'), local('TTNorms-Regular'),
        
        url('TTNorms-Regular.woff2') format('woff2'),
        url('TTNorms-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms Black Italic'), local('TTNorms-BlackItalic'),
        
        url('TTNorms-BlackItalic.woff2') format('woff2'),
        url('TTNorms-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    
    src: local('TT Norms Black'), local('TTNorms-Black'),
        
        url('TTNorms-Black.woff2') format('woff2'),
        url('TTNorms-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

