.banner__item {
    font-size: 16px;
    line-height:  1.6;
    font-weight: normal;
    color: #ffffff;
    margin: 0 73px 0 0;
    list-style: none;
    letter-spacing: 1px;
    padding-left: 20px;
    position: relative;
    
}

.banner__item::before {
    content: "";
    width: 8px;
    height: 8px;
    background-image: url(../../../image/banner-dot.svg);
    display:block;
    margin: 0px 10px 10px -20px;
    position: absolute;
    top: 7px;
    
}