@import url(./__wrapper/services__wrapper.css);
@import url(./__line/services__line.css);
@import url(./__title/services__title.css);
@import url(./__title/_lighter/services__title_lighter.css);
@import url(./__button/services__button.css);
@import url(./__text/services__text.css);


.services {
    max-width: 1174px;
    margin: 0 auto;
    padding: 65px 0 65px;
}

@media (max-width : 1240px) {
    .services {
        max-width: 380px;
        padding: 55px 0 55px;
        
        
    } 
  }