.popup__input-area {
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    border: 1px solid #DAE0E8;
    resize: none;
    padding: 19px 0 0 28px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: normal;
    letter-spacing: 0.02em;
    color: #8E9196;
}