@import url(./__paragraf/text__paragraf.css);
@import url(./__list/text__list.css);
@import url(./__list-item/text__list-item.css);
@import url(./__list-item/_color/text__list-item_color_blue.css);

.text {
    max-width: 1174px;
    margin: 0 auto;
    padding: 64px 0;
}

@media (max-width : 1240px) {
    .text {
        max-width: 380px;
        padding:0;

    } 
  }