.slider-services__title {
    

}

@media (max-width : 1240px) {
    .slider-services__title {
        font-size: 30px;
        line-height: 1.3;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 37px;
        
    } 
  }