.popup__input {
    box-sizing: border-box;
    width: 100%;
    height: 58px;
    border: 1px solid #DAE0E8;
    padding-left: 28px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: normal;
    letter-spacing: 0.02em;
    color: #8E9196;
    margin-bottom: 22px;

}