.services-form__title {

}

@media (max-width : 1240px) {
    .services-form__title {
        text-align: center;
        color: #ffffff;
        font-size: 28px;
        line-height: 1.3;
        font-weight: normal;
        margin: 0 31px 37px 31px;

        
    } 
  }