.header__tel {
    font-size: 19px;
    line-height: 1.3;
    font-weight: 500;
    margin: 0;
}

@media (max-width : 1240px) {
    .header__tel {
        font-size: 16.5px;
        line-height: 1.15;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: #FFFFFF;

    } 
  }