.banner__subtitle {
    max-width: 709px;
    font-size: 40px;
    line-height: 1.3;
    color: #ffffff;
    font-weight: 200;
    margin: 0;
}

@media (max-width : 1240px) {
    .banner__subtitle {
      max-width: 380px;
      text-align: center;
      font-size: 32px;
      line-height: 1.3;
      margin: 0 36px;
      
    
    } 
  }