@import url(./__logo/header__logo.css);
@import url(./__name/header__name.css);
@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__mail/header__mail.css);
@import url(./__contact/header__contact.css);
@import url(./__tel/header__tel.css);
@import url(./__callback/header__callback.css);



.header {
    max-width: 1174px;
    height: 90px;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: justify;
    position: relative;
    
}

@media (max-width : 1240px) {
    .header {
      max-width: 380px;
    } 
  }