.banner__text {
    max-width: 630px;
    font-size: 17px;
    line-height: 1.6;
    font-weight: normal;
    letter-spacing: 0.038em;
    color: #ffffff;
    opacity: 0.85;
    margin: 20px 0 0 0;
}



@media (max-width : 1240px) {
    .banner__text {
        max-width: 290px;
        font-size: 17px;
        line-height: 1.6;
        font-weight: normal;
        letter-spacing: 0.038em;
        color: #ffffff;
        opacity: 0.85;
        margin: 20px auto 0;
        text-align: center;
    } 
  }