.banner__title {
    max-width: 709px;
    font-size: 40px;
    line-height: 1.3;
    color: #ffffff;
    font-weight: normal;
    padding-top: 114px;
    margin: 0;
}

@media (max-width : 1240px) {
    .banner__title {
      max-width: 380px;
      text-align: center;
      font-size: 32px;
      line-height: 1.3;
      padding-top: 48px;
      
    
    } 
  }